
*{
    font-family: monospace;
    color:antiquewhite;
    background-color: #424B54;
}
.homelist {
    font-size: 25px;
    list-style: none;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
img {
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
